<section>
    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>

            <!-- Três maneiras de class binding -->

            <!-- Primeira forma - Property binding de classe -->
            <div class="alert" role="alert"
                [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>

            <div class="alert" role="alert"
                [class.alert-success]="classe.value == 'alert-info'">Info</div>

            <div class="alert" role="alert"
                [class.alert-success]="classe.value == 'alert-warning'">Alerta</div>   

            <div class="alert" role="alert"
                [class.alert-success]="classe.value == 'alert-danger'">Erro</div>

            <!-- Segunda forma - Property binding de classe com interpolação -->
            <div class="alert {{classe.value}}" role="alert">
                Texto colorido conforme valor do combobox.
            </div>

            <!--Terceira forma - Property binding com estilo de classe-->
            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Este texto somente aparece em caso de erro
            </div>    
        </div>
    </article>
</section> 
